<!DOCTYPE html>
<html lang="en">
<head>
	<title>Resume Forest</title>
	<meta charset="UTF-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/ResumeForest.css">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>
<body>
<script>
    function reg(){
        alert('Please confirm your email address to complete this registration!\nIf you cannot find it, please check your junk email');
        document.
    }
</script>
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" method="post" action="{% url 'register' %}">
				<span class="login100-form-title p-b-37">
					Register
				</span>

                {% for field in form.visible_fields %}
                    <div class="wrap-input100 validate-input m-b-20">
                        {{field}}
                        <span class="errorlist">{% for error in field.errors %} {{error}} {% endfor %}</span>
                        <span class="focus-input100"></span>
                    </div>
                {% endfor %}

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" id = "id_register_button" type="submit" >
						Register
					</button>
                </div>
                
                <br><br>

				<div class="text-center">Already a member?
					<a class="txt2 hov1" id = "id_login_link" href="{% url 'login' %}" >Login</a>
				</div>

            {% if success %}
            <div class="text-center" >
                <p style="color:red;">Please confirm your email address to complete this registration!</p>
                <p style="color:red;">If you cannot find it, please check your junk email</p>
            </div>
            {% endif %}
				{% csrf_token %}
            {% for error in form.non_field_errors %}
                <p class="input100">
                    {{ error }}
                </p>
            {% endfor %}
            </form>

            <br><br>


			
		</div>
	</div>

</body>
</html>
